{
    "extends": [
        "stylelint-config-prettier",
        "stylelint-config-sass-guidelines",
        "stylelint-config-prettier-scss",
        "stylelint-config-standard-scss"
    ],
    "plugins": ["@namics/stylelint-bem", "stylelint-scss", "stylelint-order"],
    "rules": {
        "plugin/stylelint-bem-namics": {
            "patternPrefixes": [],
            "helperPrefixes": []
        },
        "max-nesting-depth": [3, { "ignore": ["pseudo-classes"] }],
        "selector-class-pattern": null,
        "string-quotes": "single",
        "order/properties-alphabetical-order": true,
        "property-no-vendor-prefix": null,
        "declaration-block-no-redundant-longhand-properties": [
            true,
            { "ignoreShorthands": ["/flex/"] }
        ],
        "scss/operator-no-unspaced": true,
        "selector-pseudo-class-no-unknown": [
            true,
            { "ignorePseudoClasses": ["/export/"] }
        ],
        "property-no-unknown": true
    }
}