{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier",
        "stylelint-config-prettier-scss"
    ],
    "plugins": ["@namics/stylelint-bem", "stylelint-scss", "stylelint-order"],
    "rules": {
        "plugin/stylelint-bem-namics": {
            "patternPrefixes": [],
            "helperPrefixes": []
        },
        "max-nesting-depth": [3, { "ignore": ["pseudo-classes"] }],
        "selector-class-pattern": null,
        "string-quotes": "single",
        "order/properties-alphabetical-order": true,
        "property-no-vendor-prefix": null
    }
}